@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

html, body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.BtnAjoutRessource{
    position: fixed;
    right: 30px;
    bottom: 30px;
}