.Entete{
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    height: 3em;
    background-color: #333333;
    color: white;
    align-items: center;
}
.logo{
    float: left;
    left: 0;
}
.avatar{
    display: flex;
    align-items: center;
    float: right;
    right: 0;

    img{
        margin-left: 1em;
        vertical-align: middle;
        border-radius: 999em;
        width: 32px;
        height: auto;
    }
}